/* Application specific styles */
body {
  padding-top: 80px;
}

/* Styles for angular ui transition animations */
.angular-animation-container {
  position: relative;
}
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: absolute;
}
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}

/*style for display error*/
.error {
    color:red;
}

input.error {
    border:1px solid red;
    background-color: #FAEBD7; 
}
textarea.error {
    border:1px solid red;
    background-color: #FAEBD7; 
}

.lang {
    position: absolute;
    right: 6px;
    top: 5px;
}

.input-readonly 
{
    background-color:transparent;
    border:0px;
    -webkit-box-shadow:none;
}

.pw-instruction 
{
    font-size:14pt;
}
.pw-instruction p 
{
    margin-bottom: 12px;
}

.pw-steplist li 
{
    margin-bottom: 12px;
    border-bottom: 2px solid white;
}

.pw-complete-stage
{
    border-bottom: 2px solid lightgreen !important;
    color:green
}

/*****************************/
.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

.linkdisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: lightgray;
}

.buttons td {
    padding-left:  4px;
    padding-right: 4px;
}
.glyphicon:hover { 
    color: gray!important;
}
